.box1{
    background-color: rgb(0, 145, 255);
    width: 20%;
    height: 700px;
    margin: 2em 1em;
}

.box2{
    background-color: rgb(246, 8, 198);
    width: 20%;
    height: 700px;
    margin: 2em 1em;
}

.box3{
    background-color: rgb(29, 105, 29);
    width: 20%;
    height: 700px;
    margin: 2em 1em;
}

.box4{
    background-color: aquamarine;
    width: 20%;
    height: 700px;
    margin: 2em 1em;
}

body{
    display: flex;
    justify-content: center;
}

img{
    width: 200px;
    margin:1em 2em;
}

.container{
    display: flex;
    justify-content: center;


}